@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

*,
*:before,
*:after {
	box-sizing: inherit;
}

button:focus{
 outline: none !important;
}

.shiny-output-error {
  visibility: hidden;
  }
.shiny-output-error:before {
  visibility: hidden; }


html,
body {
	box-sizing: border-box;
	color: #0a446b;
	font-family: 'Raleway', sans-serif;
	height: 100%;
	margin: 0;
	width: 100%;
	background: #f8f8f8;
}


.panels {
 display: grid;
 grid-template-columns: 25% 50% 25%;
}



#panel_2 {
  background: #ffffff;
}

.title_panel {
 text-align: center;
 font-weight: 700;
 margin-top: 11px;
}

#title_viz {
  color: #000000 !important;
  font-weight: 700 !important;
  font-size: 17px;
  margin-top: 1px;
  padding: 3%;
  text-align: center;
}

#basicos{
 margin-top: 11px;
 max-width: 95%;
 max-height: 300px;
 overflow-y: auto;
}

.opciones_basicas,.opciones_avanzadas {
 display: grid;
 grid-gap: 10px; 
}

#Avanzada {
 margin-top: 15px;
}

#Basico,#Avanzada {
 background: transparent;
 border: 0px !important;
 font-weight: 700;
 margin-bottom: 5px;
 max-width: 95%;
 text-align: left;
}

#opts {
 display: inline-block;
 margin-right: 9px;
}

.active_opt {
  transform: scale(1.2) rotate(90deg) !important; 
}

.preguntas_basicas {
 height: 290px;
 margin-bottom: 17px;
 margin-top: 11px;
 overflow: overlay;
}

.btn-default {
  color: #0a446b !important;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default:hover {
    color: #ffffff !important;
    background-color: #0a446b;
    border-color: #0a446b;
}

.basic_active {
  color: #ffffff !important;
  background-color: #0a446b !important;
  border-color: #0a446b !important;
}


.needed {
 margin-bottom: 9px;
 max-width: 95%;
 text-align: left;
 white-space: normal;
 word-wrap: break-word;
}



#opts_a {
 display: inline-block;
 margin-right: 9px;
}

.form-group,.shiny-input-container{
 max-width: 90% !important;
 text-align: left;
 width: auto !important;
 margin: 0px !important;
}


.buttons-group {
 background: transparent !important;
 grid-gap: 15px !important; 
 grid-template-columns: repeat(3, 1fr) !important;
 padding: 0 !important;
}


.buttons-group .buttonStyle {
 height: 55px !important;
 width: 55px !important;
}

.imgStyle {
  width: 55px !important;
  padding: 11%;
  background: #ffffff !important;
  height: 55px !important;
  border-radius: 3px !important;
  box-shadow: 0px 0px 7px 0px #cccccc !important;
}

.ficha {
  border: 1px solid #cccccc;
  margin-bottom: 5%;
}

#ficha_peque {
 padding: 0% 5% 0% 5%;
}

.content_ficha_mini{
 height: 630px;
 overflow: overlay;
 margin-top: 9%;
}

.cont_info {
 padding: 5%;  
}

.title_ficha {
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 3px;
}




.click_ficha {
  display: block;
  width: 100%;
  background: #0a446b;
  border: 0px;
  color: #ffffff;
  padding: 3%;
  font-size: 15px;
  font-weight: 700;
}



::-webkit-scrollbar
{
  width: 7px;
}

::-webkit-scrollbar-track
{
  background: #e2eaed;
}

::-webkit-scrollbar-thumb
{
  background: #0a446b;
}

::-webkit-scrollbar:focus {
    overflow: scroll;
    display:block;
    background: #0a446b;
}


.indicacion{
  margin-top: 50%;
  text-align: center;
}


.selectize-input > * {
  background: #0a446b;
  color: #fff !important;
  padding: 2%;
}

.selectize-dropdown {
 color: #0a446b !important; 
}

label {
  font-weight: 300 !important;
  font-size: 15px !important;
}




.buttons-group .buttonStyle:before {
	background: transparent !important;
	content: none !important;
}



.buttonStyle.active_btn .imgStyle{
 background: #F5BB94 !important;
 filter: brightness(1) invert(100%) !important;
}



.hideOptions {
 position: absolute; top: -9999px; left: -9999px;
}

#vizOptions {
  margin-top: 15px;
}



.leaflet {
  background: transparent !important;
}


.modal-body {
  padding: 5% !important;
}

#tdesg {
  font-weight: 700 !important;
  margin-bottom: 3px !important;
}

#subdesg {
  color: #F48323 !important;
}

#map_d {
  margin-top: -5% !important;
}

.leaflet-control-attribution a {
  display: none !important;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
 display: none !important;
}


table{
border-collapse:collapse; 
margin-left: 9%;
border-collapse: collapse;
white-space: normal;
word-wrap: break-word;
width: 50%;
}
.TFtable td{ 
padding: 1%;  
border-bottom: #0a446b 1px solid;
}
.dintable tr td {
border: 0;
padding: 0% 0% 0% 0%;
}
.Fictable td, table th {
padding: 0%; 
border: 1px solid #0a446b;
border-top: none;
}
.Fictable tr td:first-child{
border-left: 0;
} 
.Fictable tr td:last-child{
border-right: 0;
}
.DFtable td, table th {
padding: 0%; 
border: 1px solid white;
}

#conio{
font-size: 11pt;
color: #0a446b;
}
#stydin{
font-size: 30pt;
color: #0a446b;
}
#colone {
font-size: 11pt;
text-align: left;
color: #0a446b;
font-weight: 600;
}
#coltwo {
font-size: 9pt;
text-align: left;
color: #0a446b;
}
#colend {
font-size: 11pt;
text-align: center;
color: #0a446b; 
}
#colfib {
font-size: 9pt;
text-align: center;
color: #0a446b; 
}
#bodysty {
  margin-top: 13px !important;
}

#styhecho {
  margin-top: 13px !important;
  text-align: center;
}

